{% extends 'base.html' %}

{% block head_content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/css/search_tag.css' %}">
    <style>
        .ck-content {
            min-height: 400px;
            max-height: 1200px;
        }
    </style>
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-question"></i> Ask a Question
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="d-flex">
                <div class="col d-inline">
                    <a href="{% url 'app:main' %}" class="btn btn-light">
                        <i class="fas fa-arrow-left"></i> Back To Dashboard
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- DETAILS -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Fill Question Details</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" type="text" class="form-control" placeholder="My Question">
                                </div>

                                <div class="form-group">
                                    <label for="body">Description</label>
                                    <textarea id="description"
                                              class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="tags">Tags</label>
                                    <input id="tags" type="text" class="form-control" placeholder="android"
                                           onkeyup="search_tags(value, '{% url 'app:searchTags' %}')">
                                </div>

                                <div id="tag_applied"></div>

                                <div id="tag_suggestions"></div>
                            </form>

                            <button onclick="submitForm()" style="float: right;" class="btn btn-success"><i
                                    class="fas fa-check"></i> Post Question
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block below_body_content %}
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#description'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script src="{% static 'app/js/search_tag.js' %}"></script>
    <script>
        function submitForm() {

            let title = document.getElementById('title').value;
            let description = editor.getData({trim: true});
            let tags = JSON.stringify(applied_tags);

            console.log(title);
            console.log(description);
            console.log(tags);

            if (title.length === 0) {
                console.log('Title can\'t be empty');
                return;
            }

            if (description.length === 0) {
                console.log('Description can\'t be empty');
                return;
            }

            $.ajax({
                type: "POST",
                url: '{% url 'app:addPost' %}',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'title': title,
                    'tags': tags,
                    'description': description
                },

                success: function (res) {
                    console.log('Add Post Successful.');
                    console.log(res);
                    window.location.href = "{% url 'app:main' %}"
                },
                error: function (res) {
                    console.log('Add Post Failed.');
                    console.log(res);
                },
            });
        }
    </script>
{% endblock %}