<form method="post" action="{% url 'app:addComment' %}"
      style="margin-bottom: 0;">
    {% csrf_token %}
    <div class="btn-group inline" style="width: 100%; height: 48px;">
        <input name="description" class="form-control" style="border: 0;"
               placeholder="Add a comment">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="answer_id" value="{{ answer.id }}">
        <button type="submit" style="background-color: #c4c4c4" class="btn">Post a Comment
        </button>
    </div>
</form>