<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="border card-body" style="padding: 0;">
                <textarea class="answers form-control">{{ answer.description }}</textarea>
            </div>
            <div class="card-footer d-inline">
                <div class="row">
                    <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                        <a href="#" class="nodecoration mx-2">
                            <i class="fa fa-thumbs-o-up fa-2x" style="font-size:36px; color:green;"></i>
                        </a>
                        <span class="h3">0</span>
                        <a href="#" class="nodecoration mx-2">
                            <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                               style="font-size:36px;color:gray;"></i>
                        </a>
                    </div>

                    <div class="col-xs-12 col-lg-6 d-inline my-3 class1">
                        <h6 class="card-title my-0">{{ answer.creation_time }}</h6>
                    </div>

                    <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                        <div class="card p-0 mr-0" style="width: 15rem;">
                            <div class="card-body">
                                <h6 class="card-title my-0">answered by <span></span></h6>
                                <a href="#" class="card-link my-0">{{ answer.created_by }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'app:addComment' %}" style="margin-bottom: 0;">
                {% csrf_token %}
                <div class="btn-group inline" style="width: 100%; height: 48px;">
                    <input name="description" class="form-control" style="border: 0;"
                           placeholder="Add a comment">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="answer_id" value="{{ answer.id }}">
                    <button type="submit" class="btn btn-outline-dark">Post a Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>