{% extends 'base.html' %}

{% block head_content %}
{% endblock %}

{% block navbar_content_1 %}
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-magic"></i> Trending</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
                        <i class="fas fa-plus"></i> Add Post
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
                        <i class="fas fa-plus"></i> Add Tag
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- POSTS -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Posts</h4>
                        </div>
                        <table class="table table-striped">
                            {# TODO #}
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>View Count</th>
                                <th>Creation Time</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.view_count }}</td>
                                    <td>{{ post.creation_time }}</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No Posts.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Tags</h4>
                        </div>
                        <table class="table table-striped">
                            {# TODO #}
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Use Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tag in tags %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ tag.name }}</td>
                                    <td>{{ tag.creation_time }}</td>
                                    <td>{{ tag.use_count }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No Tags.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Posts</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"></i> 6
                            </h4>
                            <a href="{% url 'app:posts' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Tags</h3>
                            <h4 class="display-4">
                                <i class="fas fa-folder"></i> 4
                            </h4>
                            <a href="{% url 'app:tags' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>

                    <div class="card text-center bg-warning text-white mb-3">
                        <div class="card-body">
                            <h3>Users</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users"></i> 4
                            </h4>
                            <a href="{% url 'app:users' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block below_footer_content %}
    <!-- MODALS -->
    <!-- ADD POST MODAL -->
    <div class="modal fade" id="addPostModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Add Post</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control">
                                <option value="">Web Development</option>
                                <option value="">Tech Gadgets</option>
                                <option value="">Business</option>
                                <option value="">Health & Wellness</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="image">Upload Image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image">
                                <label for="image" class="custom-file-label">Choose File</label>
                            </div>
                            <small class="form-text text-muted">Max Size 3mb</small>
                        </div>
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea name="editor1" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD CATEGORY MODAL -->
    <div class="modal fade" id="addCategoryModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">Add Tag</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'app:addTag' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Name of Tag</label>
                            <input type="text" class="form-control" name="tag">
                        </div>

                        <input type="submit" class="btn btn-success" data-dismiss="modal" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_content %}
    <script>
        CKEDITOR.replace('editor1');
    </script>
{% endblock %}