{% extends 'base.html' %}

{% block head_content %}
    <style>
        .table {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-magic"></i>&nbsp; Trending</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                {% if user.is_authenticated %}
                    <div class="col-md-3">
                        <a href="{% url 'app:addPost' %}" class="btn btn-primary btn-block">
                            <i class="fas fa-plus"></i> Ask Question
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-success btn-block" data-toggle="modal"
                           data-target="#addCategoryModal">
                            <i class="fas fa-plus"></i> Add Tag
                        </a>
                    </div>
                {% else %}
                    <div class="col">
                        <p style="margin-bottom: 0px;">Please Sign In to contribute.</p>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

    <!-- POSTS -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Posts</h4>
                        </div>
                        <table class="table table-striped">
                            {# TODO #}
                            <thead class="thead-dark text-center">
                            <tr style="text-align:left">
                                <th>#</th>
                                <th>Title</th>
                                <th>Views</th>
                                <th>Creation Time</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.view_count }}</td>
                                    <td>{{ post.creation_time }}</td>
                                    <td>
                                        <a href="{% url 'app:postDetails' %}?id={{ post.id }}" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">No Posts.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="card" style="margin-top: 16px;">
                        <div class="card-header">
                            <h4>Latest Tags</h4>
                        </div>
                        <table class="table table-striped">
                            {# TODO #}
                            <thead class="thead-dark">
                            <tr style="text-align:left">
                                <th>#</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Use Count</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tag in tags %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ tag.name }}</td>
                                    <td>{{ tag.creation_time }}</td>
                                    <td>{{ tag.use_count }}</td>
                                    <td>
                                        <a href="{% url 'app:tagDetails' %}?id={{ tag.id }}" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">No Tags.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Posts</h3>
                            <h4 class="display-4">
                                <i class="fas fa-clipboard"></i></i>
                                {{ n_posts }}
                            </h4>
                            <a href="{% url 'app:posts' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Tags</h3>
                            <h4 class="display-4">
                                <i class="fas fa-tags"></i>
                                {{ n_tags }}
                            </h4>
                            <a href="{% url 'app:tags' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>

                    <div class="card text-center bg-warning text-white mb-3">
                        <div class="card-body">
                            <h3>Users</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users"></i>
                                {{ n_users }}
                            </h4>
                            <a href="{% url 'app:users' %}" class="btn btn-outline-light btn-sm">View</a>
                            {#  TODO  #}
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block below_footer_content %}
    <!-- MODALS -->

    <!-- ADD CATEGORY MODAL -->
    <div class="modal fade" id="addCategoryModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">Add Tag</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'app:addTag' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Name of Tag</label>
                            <input type="text" class="form-control" name="tag">
                        </div>

                        <input type="submit" class="btn btn-success" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block below_body_content %}
{% endblock %}