{% extends 'base.html' %}

{% block head_content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block navbar_content_2 %}
{% endblock %}

{% block body_content %}
    {% if error_message %}
        <div style="height: 36px;
                    width: 100%;
                    text-align: center;
                    display: inline;
                    padding-top: 80px;
                    color: black;
                    padding-bottom: 8px;
                    size: 16px;">
            <div style="background-color: #fff772;
                        padding-top: 4px;
                        padding-bottom: 4px;">
                {{ error_message }}
            </div>
        </div>
    {% endif %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic">
                    <img src="{% static 'app/img/iiits_logo.png' %}" alt="IMG">
                </div>

                <form class="login100-form" action="" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title">
						Login
					</span>

                    <div class="wrap-input100">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block below_footer_content %}
{% endblock %}

{% block below_body_content %}
{% endblock %}