<nav class="ml-4">
    <ul class="pagination">

        <li class="page-item {% if not items.has_previous %}disabled{% endif %}">
            <a href="{% if query %}?query={{ query }}&{% else %}?{% endif %}page=1" class="page-link">First</a>
        </li>

        <li class="page-item {% if not items.has_previous %}disabled{% endif %}">
            <a href="{% if query %}?query={{ query }}&{% else %}?{% endif %}page={% if items.has_previous %}{{ items.previous_page_number }}{% endif %}" class="page-link">Previous</a>
        </li>

        <li class="page-item active">
            <a href="#" class="page-link">{{ items.number }}</a>
        </li>

        <li class="page-item {% if not items.has_next %}disabled{% endif %}">
            <a href="{% if query %}?query={{ query }}&{% else %}?{% endif %}page={% if items.has_next %}{{ items.next_page_number }}{% endif %}" class="page-link">Next</a>
        </li>

        <li class="page-item {% if not items.has_next %}disabled{% endif %}">
            <a href="{% if query %}?query={{ query }}&{% else %}?{% endif %}page={{ items.paginator.num_pages }}" class="page-link">Last</a>
        </li>

    </ul>
</nav>