{% extends 'base.html' %}

{% block head_content %}
    <style>
        a.nodecoration:hover {
            text-decoration: none;
        }

        .class1 {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }

    </style>

    <style>
        .ck-content {
            min-height: 200px;
            max-height: 1200px;
        }
    </style>

{% endblock %}

{% block navbar_content_1 %}
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fas fa-clipboard"></i> &nbsp;Post</h1>
                </div>
            </div>
        </div>
    </header>

    <!--POST-->
    <section id="question_details" style="margin-top: 32px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4>{{ post.title }}</h4>
                        </div>
                        <div class="border card-body" style="padding: 0px;">
                            <textarea id="description" class="form-control">{{ post.description }}</textarea>
                        </div>
                        <div class="card-footer d-inline font-weight-bold">TAGS: &nbsp;
                            {% for tag in post.tags.all %}
                                <button type="button" class="btn btn-success mr-2 my-1">{{ tag.name }}</button>
                            {% endfor %}
                        </div>
                        <div class="card-footer d-inline">
                            <div class="row">
                                <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-up fa-2x" style="font-size:36px; color:green;"></i>
                                    </a>
                                    <span class="h3">0</span>
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                                           style="font-size:36px;color:gray;"></i>
                                    </a>
                                </div>

                                <div class="col-xs-12 col-lg-6 d-inline my-3 class1">
                                    <a href="#" data-toggle="modal" data-target="#postCommentModal">
                                        <button type="button" class="btn btn-outline-dark"
                                                style="height: 2.5rem;">
                                            Post a Comment
                                        </button>
                                    </a>
                                </div>

                                <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                                    <div class="card p-0 mr-0" style="width: 15rem;">
                                        <div class="card-body">
                                            <h6 class="card-title my-0">asked by</h6>
                                            <a href="#" class="card-link my-0">{{ post.created_by }}</a>
                                            <h6 class="card-title my-0">{{ post.creation_time }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--ANSWERS-->
    <section id="answers">
        <div class="container mt-3">

            {% for answer in post.answer_set.all %}
                <div class="row">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="border card-body" style="padding: 0;">
                                <textarea class="answers form-control">{{ answer.description }}</textarea>
                            </div>
                            <div class="card-footer d-inline">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                                        <a href="#" class="nodecoration mx-2">
                                            <i class="fa fa-thumbs-o-up fa-2x" style="font-size:36px; color:green;"></i>
                                        </a>
                                        <span class="h3">0</span>
                                        <a href="#" class="nodecoration mx-2">
                                            <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                                               style="font-size:36px;color:gray;"></i>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-lg-6 d-inline my-3 class1">
                                        <a href="#" data-toggle="modal" data-target="#postCommentModal">
                                            <button type="button" class="btn btn-outline-dark"
                                                    style="height: 2.5rem;">
                                                Post a Comment
                                            </button>
                                        </a>
                                    </div>

                                    <div class="col-xs-12 col-lg-3 d-inline my-3 class1">
                                        <div class="card p-0 mr-0" style="width: 15rem;">
                                            <div class="card-body">
                                                <h6 class="card-title my-0">answered by</h6>
                                                <a href="#" class="card-link my-0">{{ answer.created_by }}</a>
                                                <h6 class="card-title my-0">{{ answer.creation_time }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>empty</p>
            {% endfor %}

        </div>
    </section>

    <!--MY ANSWER-->
    <section id="my_answer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Your Answer</h4>
                        </div>
                        <div class="card-body" style="padding: 0px;">
                            <textarea id="answer" class="form-control"></textarea>
                        </div>
                        <div class="card-footer">
                            <button onclick="submitAnswer()" class="btn btn-success float-right">
                                <i class="fas fa-check"></i> Post Answer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block below_body_content %}

    <style>
        .ck.ck-content {
            border: 0;
        }

        .ck.ck-toolbar {
            border: 0;
        }
    </style>

    <script src="https://use.fontawesome.com/fca87e3227.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <script>
        let postEditor;
        ClassicEditor
            .create(document.querySelector('#description'))
            .then(newEditor => {
                postEditor = newEditor;
                postEditor.isReadOnly = true;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        let allEditors = document.getElementsByClassName('answers');
        for (let i = 0; i < allEditors.length; i++) {
            ClassicEditor
                .create(allEditors[i])
                .then(newEditor => {
                    newEditor.isReadOnly = true;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
    <script>
        let answerEditor;
        ClassicEditor
            .create(document.querySelector('#answer'))
            .then(newEditor => {
                answerEditor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function submitAnswer() {

            let description = answerEditor.getData({trim: true});

            console.log(description);

            if (description.length === 0) {
                console.log('Description can\'t be empty');
                return;
            }

            $.ajax({
                type: "POST",
                url: '{% url 'app:addAnswer' %}',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'post_id': {{ post.id }},
                    'description': description
                },

                success: function (res) {
                    console.log('Add Answer Successful.');
                    console.log(res);
                    window.location.href = "{% url 'app:postDetails' %}?id={{ post.id }}"
                },
                error: function (res) {
                    console.log('Add Answer Failed.');
                    console.log(res);
                },
            });
        }
    </script>
{% endblock %}