{% extends 'base.html' %}

{% block head_content %}
    <style>
        a.nodecoration:hover {
            text-decoration: none;
        }

        .border_color {
            border-top-style: solid;
            border-top-color: black;
            border-top-width: thick;

        }
    </style>
    <script src="https://use.fontawesome.com/fca87e3227.js"></script>
{% endblock %}

{% block navbar_content_1 %}
{% endblock %}

{% block body_content %}
    <body>

    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="far fa-clipboard"></i> &nbsp;Post</h1>
                </div>
            </div>
        </div>
    </header>

    <br>

    <!-- QUESTION DETAILS -->

    <section id="question_details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4>{{ post.title }}</h4>
                        </div>
                        <div class="border card-body">
                            <div class="text-monospace rounded p-2"><p class="font-weight-bold">Desciption : </p>
                                <textarea id="description" class="form-control">{{ post.description }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer d-inline font-weight-bold">TAGS: &nbsp;
                            {% for tag in post.tags.all %}
                                <button type="button" class="btn btn-success mr-2">{{ tag.name }}</button>
                            {% endfor %}
                        </div>
                        <div class="card-footer d-inline">
                            <div class="d-flex justify-content-between">
                                <div class="d-inline" style="margin-top: 32px">
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-up fa-2x" style='font-size:36px;color:green;'
                                           aria-hidden="true" onmouseover="this.class='fa fa-thumbs-up fa-2x'"
                                           onmouseout="this.class='fa fa-thumbs-o-up fa-2x'"></i>
                                    </a>
                                    <span class="h3">51</span>
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                                           style='font-size:36px;color:gray;' aria-hidden="true"
                                           onmouseover="this.class='fa fa-thumbs-down fa-2x fa-flip-horizontal'"
                                           onmouseout="this.class='fa fa-thumbs-o-down fa-2x fa-flip-horizontal'"></i>
                                    </a>
                                </div>
                                <div class="d-inline" style="margin-top: 32px;margin-left: 90px;">
                                    <a href="#" data-toggle="modal" data-target="#postCommentModal">
                                        <button type="button" class="btn btn-outline-dark mr-3" style="height: 2.5rem;">
                                            Post a Comment
                                        </button>
                                    </a>
                                </div>
                                <div class="d-inline">
                                    <div class="card p-0 mr-0" style="width: 15rem;">
                                        <div class="card-body">
                                            <h6 class="card-title my-0">asked by</h6>
                                            <a href="#" class="card-link my-0">{{ post.created_by }}</a>
                                            <h6 class="card-title my-0">{{ post.creation_time }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="answers">
        <div class="container mt-3">
            <div class="row h4 text-white">
                <div class="col">
                    <div class="card d-inline p-2 bg-primary">
                        Answer
                    </div>
                </div>
                <div class="col">
                    <div class="card d-inline p-2 bg-warning" style="margin-left: 400px">
                        1 Comment
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-3 ">
                        <div class="card-header lead">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto aliquid porro et
                            architecto
                            cupiditate tempora delectus quas, animi itaque, labore commodi in tempore ea
                            deleniti
                            aspernatur vitae facilis possimus atque?
                        </div>
                        <div class="border card-body">
                            <div class="text-monospace rounded p-2">Code Snippets (if any)<br>
                                int main()<br>
                                {<br>
                                system("init 6");<br>
                                }<br><br>
                                {#                                <img src="demo-image.jpg" alt="Image not Available" style="width: 20%; height: 20%" />#}
                            </div>
                        </div>
                        <div class="card-footer d-inline">
                            <div class="d-flex justify-content-between">
                                <div class="d-inline" style="margin-top: 32px">
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-up fa-2x" style='font-size:36px;color:green;'
                                           aria-hidden="true" onmouseover="this.class='fa fa-thumbs-up fa-2x'"
                                           onmouseout="this.class='fa fa-thumbs-o-up fa-2x'"></i>
                                    </a>
                                    <span class="h3">69</span>
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                                           style='font-size:36px;color:gray;' aria-hidden="true"
                                           onmouseover="this.class='fa fa-thumbs-down fa-2x fa-flip-horizontal'"
                                           onmouseout="this.class='fa fa-thumbs-o-down fa-2x fa-flip-horizontal'"></i>
                                    </a>
                                </div>
                                <div class="d-inline" style="margin-top: 32px;margin-left: 90px;">
                                    <a href="#" data-toggle="modal" data-target="#postCommentModal">
                                        <button type="button" class="btn btn-outline-dark mr-3" style="height: 2.5rem;">
                                            Post a Comment
                                        </button>
                                    </a>
                                </div>
                                <div class="d-inline">
                                    <div class="card p-0 mr-0" style="width: 15rem;">
                                        <div class="card-body">
                                            <h6 class="card-title my-0">answered by</h6>
                                            <a href="#" class="card-link my-0">udayraj.s16@iiits.in</a>
                                            <h6 class="card-title my-0">Oct. 24, 2018, 11:23 p.m.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row h4 text-white">
                <div class="col">
                    <div class="card d-inline p-2 bg-primary">
                        Answer
                    </div>
                </div>
                <div class="col">
                    <div class="card d-inline p-2 bg-warning" style="margin-left: 400px">
                        1 Comment
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-3 ">
                        <div class="card-header lead">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto aliquid porro et
                            architecto
                            cupiditate tempora delectus quas, animi itaque, labore commodi in tempore ea
                            deleniti
                            aspernatur vitae facilis possimus atque?
                        </div>
                        <div class="border card-body">
                            <div class="text-monospace rounded p-2">Code Snippets (if any)<br>
                                int main()<br>
                                {<br>
                                system("init 6");<br>
                                }<br><br>
                                {#                                <img src="demo-image.jpg" alt="Image not Available" style="width: 20%; height: 20%" />#}
                            </div>
                        </div>
                        <div class="card-footer d-inline">
                            <div class="d-flex justify-content-between">
                                <div class="d-inline" style="margin-top: 32px">
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-up fa-2x" style='font-size:36px;color:gray;'
                                           aria-hidden="true" onmouseover="this.class='fa fa-thumbs-up fa-2x'"
                                           onmouseout="this.class='fa fa-thumbs-o-up fa-2x'"></i>
                                    </a>
                                    <span class="h3">24</span>
                                    <a href="#" class="nodecoration mx-2">
                                        <i class="fa fa-thumbs-o-down fa-2x fa-flip-horizontal"
                                           style='font-size:36px;color:red;' aria-hidden="true"
                                           onmouseover="this.class='fa fa-thumbs-down fa-2x fa-flip-horizontal'"
                                           onmouseout="this.class='fa fa-thumbs-o-down fa-2x fa-flip-horizontal'"></i>
                                    </a>
                                </div>
                                <div class="d-inline" style="margin-top: 32px;margin-left: 90px;">
                                    <a href="#" data-toggle="modal" data-target="#postCommentModal">
                                        <button type="button" class="btn btn-outline-dark mr-3" style="height: 2.5rem;">
                                            Post a Comment
                                        </button>
                                    </a>
                                </div>
                                <div class="d-inline">
                                    <div class="card p-0 mr-0" style="width: 15rem;">
                                        <div class="card-body">
                                            <h6 class="card-title my-0">answered by</h6>
                                            <a href="#" class="card-link my-0">prakkash.m16@iiits.in</a>
                                            <h6 class="card-title my-0">Oct. 25, 2018, 05:23 p.m.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="my_answer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Your Answer</h4>
                        </div>
                        <div class="card-body my-0 ">
                            <form>
                                <div class="form-group">
                                    <label for="image">Upload Code/Image</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="image">
                                        <label for="image" class="custom-file-label">Choose File</label>
                                    </div>
                                    <small class="form-text text-muted">Max Size 3mb</small>
                                </div>
                                <div class="form-group">
                                    <label for="body">Body</label>
                                    <textarea name="editor1" class="form-control">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat culpa nam cumque voluptatum. Possimus recusandae porro architecto officiis illo dignissimos ratione aut officia reprehenderit! Iure cum numquam fugit doloremque quis ullam illo odit, odio voluptates non quisquam laboriosam consectetur quasi perspiciatis! Sapiente minus aperiam nobis molestias autem ut praesentium laudantium?</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <a href="index.html" class="btn btn-success float-right">
                                <i class="fas fa-check"></i> Post Answer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MODALS -->
    <!-- POST COMMENT MODAL -->
    <div class="modal fade" id="postCommentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Comment</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Type your Comment</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Post</button>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block script_content %}

    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#description'))
            .then(newEditor => {
                editor = newEditor;
                editor.isReadOnly = true;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}