{% extends 'base.html' %}

{% block head_content %}
{% endblock %}

{% block navbar_content_1 %}
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-success text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-tags"></i> Tags</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- SEARCH -->
    <section id="search" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto">
                    <div class="input-group">
                        <form action="" method="GET" class="input-group-append input-group">
                            <input type="text" class="form-control " placeholder="Search tags" name="query"
                                   {% if query %} value="{{ query }}" {% endif %}>
                            <button class="btn btn-success" type="submit"> Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CATEGORIES -->
    <section id="categories">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Tags</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr style="text-align:left">
                                <th>#</th>
                                <th>Title</th>
                                <th>Use Count</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for tag in items %}
                                <tr>
                                    <td>{{ forloop.counter0|add:items.start_index }}</td>
                                    <td>{{ tag.name }}</td>
                                    <td>{{ tag.use_count }}</td>
                                    <td>
                                        <a href="{% url 'app:tagDetails' %}?id={{ tag.id }}" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">No Tags.</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        {% include 'pagination.html' %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block script_content %}
{% endblock %}