{% extends 'base.html' %}
{% load staticfiles %}

{% block head_content %}
    <style>
    .wrap
    {
        padding: 30px;
    }

    .glyphicon
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    small
    {
        display: block;
        color: #888;
    }

    .well
    {
        border: 1px solid black;
        padding: 2px;
    }
</style>
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-warning text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-users"></i>    Users</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- CATEGORIES -->
    <section id="categories" style="margin-top: 50px">
        <div class="container wrap">
            <div class="row">
                <div class="col-lg-8 col-md-6 offset-md-2">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-3 col-md-7 col-lg-7">
                                <img src="{% static 'app/img/avatar.png' %}" alt="" class="img-rounded img-fluid" />
                            </div>
                            <div class="col-sm-8 col-md-6 col-lg-5">
                                <h4 style=" margin-top:30px ;">{{ user_obj.django_user.username }}</h4>
                                <p> <i class="fas fa-at"></i>  &nbsp;&nbsp; Email <br> {{ user_obj.django_user.username }} </p>
                                <p> <i class="fas fa-calendar-alt"></i>  &nbsp;&nbsp; Date Joined <br>{{ user_obj.django_user.date_joined }}  </p>
                                <p> <i class="fas fa-user-graduate"></i>  &nbsp;&nbsp;Reputation <br>{{ user_obj.reputation }}  </p>
                                <small style="margin-top: 100px;margin-left: 45px"><cite title="San Diego, USA">Last Login {{ user_obj.django_user.last_login }}</cite></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'app:userProfile' %}" class="col-md-2 offset-lg-5 btn btn-secondary ">
            <i class="fas fa-user-circle"></i> Update Profile
        </a>
    </section>
{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block below_body_content %}
{% endblock %}

