{% extends 'base.html' %}

{% block head_content %}
{% endblock %}

{% block navbar_content_1 %}
{% endblock %}

{% block body_content %}
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-warning text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-users"></i>    Users</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- SEARCH -->
    <section id="search" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto">
                    <div class="input-group">
                        <form action="" method="GET" class="input-group-append input-group">
                            <input type="text" class="form-control " placeholder="Search Users..." name="query" >
                            <button class="btn btn-warning" type="submit"> Search </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CATEGORIES -->
    <section id="categories">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Users</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Date Joined</th>
                                <th>Reputation</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in items %}
                                <tr>
                                    <td>{{ forloop.counter0|add:items.start_index}}</td>
                                    <td>{{ user.django_user.username }}</td>
                                    <td>{{ user.django_user.date_joined }}</td>
                                    <td>{{ user.reputation }}</td>
                                    <td>
                                        <a href="{% url 'app:userDetails' %}?id={{ user.id }}" class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">No Users.</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        {% include 'pagination.html' %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block below_footer_content %}
{% endblock %}

{% block script_content %}
{% endblock %}